In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import apyori as apriori

In [ ]:
df = pd.read_csv('CanteenDataSet.csv')

In [ ]:
df.head()

               Tea, Samosa, Sandwich
0     Samosa, Tea, Sandwich, Noodles
1  Samosa, Cold Coffee, French Fries
2           Pizza, Maggie,Samosa,Tea
3        Maggie,Cold Coffee,Sandwich
4    Samosa,Cold Coffee,French Fries

In [ ]:
df.rename(columns = {'Tea, Samosa, Sandwich':'Items'} , inplace = True)

In [ ]:
df.head()

                               Items
0     Samosa, Tea, Sandwich, Noodles
1  Samosa, Cold Coffee, French Fries
2           Pizza, Maggie,Samosa,Tea
3        Maggie,Cold Coffee,Sandwich
4    Samosa,Cold Coffee,French Fries

In [ ]:
df['Items'].str.split(",")

0            [Samosa,  Tea,  Sandwich,  Noodles]
1          [Samosa,  Cold Coffee,  French Fries]
2                  [Pizza,  Maggie, Samosa, Tea]
3                [Maggie, Cold Coffee, Sandwich]
4            [Samosa, Cold Coffee, French Fries]
5                 [Maggie, Cold Coffee, Noodles]
6        [Maggie, Samosa, Cold Coffee, Sandwich]
7           [Pizza, Maggie, Samosa, Cold Coffee]
8                                  [Samosa, Tea]
9     [Black Tea, Manchurian, Sandwich, Noodles]
10    [Black Tea, Manchurian, Sandwich, Noodles]
11       [Black Tea, Fried Maggie, French Fries]
12               [Samosa, Black Tea, Manchurian]
13              [Samosa, Fried Maggie, Sandwich]
14           [Black Tea, Fried Maggie, Sandwich]
15          [Samosa, Fried Maggie, French Fries]
16             [Samosa, Black Tea, Fried Maggie]
17             [Samosa, Black Tea, Fried Maggie]
18        [Cold Coffee, Tea, Black Tea, Noodles]
Name: Items, dtype: object

In [ ]:
df= df['Items'].str.split(",", expand= True)

In [ ]:
df.rename(columns={0: 'Item1', 1:'Item2', 2:'Item3', 3:'Item4'}, inplace = True)

In [ ]:
df.head()

    Item1         Item2          Item3     Item4
0  Samosa           Tea       Sandwich   Noodles
1  Samosa   Cold Coffee   French Fries      None
2   Pizza        Maggie         Samosa       Tea
3  Maggie   Cold Coffee       Sandwich      None
4  Samosa   Cold Coffee   French Fries      None

In [ ]:
records = []
for i in range(19):
    records.append([str(df.values[i,j]) for j in range(0,4)])

In [ ]:
print(type(records))

<class 'list'>

In [ ]:
#from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
items = set()
for col in df:
    items.update(df[col].unique())
print(items)

{'Sandwich', 'Samosa', 'Pizza', ' Sandwich', 'Noodles', ' Maggie', 'Black Tea', 'French Fries', ' French Fries', 'Manchurian', ' Noodles', 'Maggie', 'Tea', 'Cold Coffee', ' Cold Coffee', ' Tea', 'Fried Maggie', None}

In [ ]:
itemset = set(items)

In [ ]:
encoded_value = []
for index, row in df.iterrows():
    rowset = set(row)
    labels = {}
    uncommons = list(itemset- rowset)
    commons = list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_value.append(labels)
encoded_value[0]

df1 = pd.DataFrame(encoded_value)

In [ ]:
frequent = apriori(df1, min_support = 0.2, use_colnames=True)

C:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
frequent.head(7)

    support        itemsets
0  0.315789      (Sandwich)
1  0.210526       (Noodles)
2  0.421053     (Black Tea)
3  0.210526        (Maggie)
4  0.315789  (Fried Maggie)
5  0.315789   (Cold Coffee)
6  0.631579          (None)

In [ ]:
rules = association_rules(frequent, metric= 'confidence', min_threshold = 0.6)

In [ ]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Fried Maggie),(Black Tea),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842
1,(Black Tea),(None),0.421053,0.631579,0.263158,0.625000,0.989583,-0.002770,0.982456
2,(Maggie),(Cold Coffee),0.210526,0.315789,0.210526,1.000000,3.166667,0.144044,inf
3,(Cold Coffee),(Maggie),0.315789,0.210526,0.210526,0.666667,3.166667,0.144044,2.368421
4,(Fried Maggie),(None),0.315789,0.631579,0.315789,1.000000,1.583333,0.116343,inf